# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su


/__资料
/__Back

/_PCB/Project Outputs for SL-DPT100
/_PCB/Project Logs for SL-DPT100

/Soft_MCU/Output
/Soft_MCU/RTE/Network/Net_Config_HTTP_Server.h.0000
/Soft_MCU/RTE/Network/Net_Debug.c.0000
/Soft_MCU/RTE/Device/STM32F407IGHx/RTE_Device.h~RF34c9ea92.TMP
/Soft_MCU/Auto_FcArm_Cmd_inp.Bak
/Soft_MCU/JLinkLog.txt
/_PCB/*.SchDocPreview
/_PCB/*.PcbDocPreview
*.uvguix.User
*.SchDocPreview
*.PcbDocPreview
*.SchDocPreview
